<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="BITCollege_EUContext" connectionString="Data Source=localhost; Initial Catalog=BITCollege_EUContext; Integrated Security=True;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICollegeRegistration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54347/CollegeRegistration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollegeRegistration"
                contract="BITCollegeServiceReference.ICollegeRegistration"
                name="BasicHttpBinding_ICollegeRegistration" />
        </client>
    </system.serviceModel>
</configuration>